.Profile {
    display: flex;
    align-items: center;
}

.ProfileAvatar { 
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.ProfileDescription { 
    margin-left: 1.5rem;
}

.ProfileDescription strong{ 
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.ProfileDescription p{ 
    font-size: 1rem;
    margin-top: 0.5rem;
}

.ProfileDescription p img{ 
    margin-right: 0.5rem;
}