.ChallangeBox {
    height: 100%;

    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding : 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.ChallangeBoxNotActive { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ChallangeBoxNotActiveTitle { 
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.ChallangeBoxNotActiveDescription { 
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}

.ChallangeBoxNotActiveDescription img{ 
  margin-bottom: 1rem;
}

.ChallangeBoxActive {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.ChallangeBoxActiveHeader {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding : 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.ChallangeBoxActiveMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ChallangeBoxActiveMainTitle { 
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}
.ChallangeBoxActiveMainTitle { 
  line-height: 1.5;
}

.ChallangeBoxActiveFooter { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ChallangeBoxActiveFooter button{ 
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  color: var(--white);

  font-size: 1rem;
  font-weight: 600;
  transition : filter 200ms;
}

.ChallangeBoxActiveFooter button:hover { 

  filter: brightness(0.9);
}

.ChallangeBoxActiveFailedButton { 
  background-color: var(--red);
}

.ChallangeBoxActiveSucceededButton { 
  background-color: var(--green);
}
